*.bak
*.bin
*.cache
*.compiled
*.dbg
*.dll
*.exe
*.log
*.lps
*.npp
*.o
*.obj
*.old
*.or
*.ppu
*.res
*.spec
Thumbs.db
backup
doc
lib
temp
ppas.bat
.directory
lazproj/coedit
bin
public
dcd
d-scanner
extract_last_changelog_part
dexed-d/.dub
dub.selections.json
