[submodule "etc/libdparse"]
	path = etc/libdparse
	url = https://github.com/dlang-community/libdparse.git
[submodule "etc/iz"]
	path = etc/iz
	url = https://gitlab.com/basile.b/iz.git
[submodule "etc/stdx-allocator"]
	path = etc/stdx-allocator
	url = https://github.com/dlang-community/stdx-allocator.git
[submodule "etc/pegged"]
	path = etc/pegged
	url = https://github.com/PhilippeSigaud/Pegged.git
